<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Movie Page</title>
    <link rel="stylesheet" th:href="@{/homepage-form.css}" href="/homepage-form.css">
</head>
<body>
<h1>Create Movie</h1>
<form method="post" th:action="@{'/movies/create'}" th:object="${movie}">
    <table>
        <tr>
            <td>Movie Name:</td>
            <td>
                <input type="text" id="movieName" th:field="*{movieName}">
                <div th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td>
                <input type="text" id="duration" th:field="*{duration}">
                <div th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>Actor:</td>
            <td>
                <input type="text" id="actor" th:field="*{actor}">
                <div th:if="${#fields.hasErrors('actor')}" th:errors="*{actor}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select id="status" th:field="*{status}">
                    <option value="active">active</option>
                    <option value="inactive">inactive</option>
                    <option value="coming">coming</option>
                </select>
                <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>Director:</td>
            <td>
                <select id="directors" th:field="*{director}">
                    <option th:each="director : ${directors}"
                            th:value="${director.id}"
                            th:text="${director.directorName}"
                            th:selected="${movie.director != null and movie.director.id == director.id}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('director')}" th:errors="*{director}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </td>
        </tr>
        <tr>
            <td><a th:href="@{/homepage}">Back to home</a></td>
        </tr>
    </table>
</form>
</body>
</html>
