<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <div th:if="${error != null}" style="color: red; text-align: center; margin-bottom: 15px;">
        <span th:text="${error}"></span>
    </div>
    <form th:action="@{/}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>